<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink ="employee" routerLinkActive="active" class="nav-link" >Employee List</a>
    </li>
    <li class="nav-item">
      <a routerLink ="create-employee" routerLinkActive="active" class="nav-link" >Create Employee</a>
    </li>

  </ul>
</nav>

<h2 CLASS="text-center">2iQ</h2>
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="card-footer">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright:

  </div>
  <!-- Copyright -->

</footer>
